cycler==0.10.0
ftfy==5.6
future==0.18.2
geographiclib==1.50
geopy==1.20.0
imageio==2.6.1
imageio-ffmpeg==0.3.0
kiwisolver==1.1.0
matplotlib==3.1.2
pandas==0.25.3
Pillow==7.0.0
psutil==5.6.5
pyparsing==2.4.6
PySAL==1.14.4.post2
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
seaborn==0.10.0
simplejson==3.16.0
six==1.14.0
SQLAlchemy==1.3.11
utm==0.5.0
wcwidth==0.1.8
mojadata